<div class="modal-wrapper">
<div class="modal-header">
    <button class="modal-close-btn" (click)="cerrar_modal()">
    <i class="bi bi-x-lg"></i>
    </button>
</div>

<div class="modal-body">
    <h1 class="modal-title">Eliminar {{ rol }}</h1>

    <p class="modal-description">
    Estás a punto de eliminar este {{ rol }}. Una vez que lo elimines no
    podrás deshacer esta acción.
    </p>

    <div class="modal-actions">
    <button mat-button class="btn-regresar" (click)="cerrar_modal()">
        Cancelar
    </button>
    <button mat-button class="btn-eliminar" (click)="eliminarUser()">
        Eliminar
    </button>
    </div>
</div>
</div>
