.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-registro{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-registro{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}